.header {
  padding: 3rem 2rem;
}

.main {
  background-color: white;
  min-height: 68.3vh;
  border-top: 1px solid #f0f0f0;
  padding: 2rem;
}

.blue {
  color: #1890ff !important;
  font-weight: 700 !important;
}
