.header,
.main {
  max-width: 1650px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 4rem 2rem;
}

.header img {
  margin-right: 1.5rem;
}

.main {
  padding: 1rem;
  margin-bottom: 3rem;
}

.about {
  background-color: white;
  padding: 3rem;
}
